html(lang="en")
  head
    title Items List
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Items List
    table
      tr
        th Name
        th Quantity
        th Category
        th Supplier
        th Actions
      each item in items
        tr
          td= item.name
          td= item.quantity
          td= item.category
          td= item.supplier
          td
            // Edit button - links to the edit form for the item
            a(href=`/items/edit/${item.id}` class="btn-edit") Edit
            
            // Delete form - uses method override to DELETE the item
            form(action=`/items/${item.id}?_method=DELETE` method="POST" style="display:inline")
              input(type="hidden" name="_method" value="DELETE")
              button(type="submit" class="btn-delete") Delete
              
    // Add New Item link
    a(href="/items/new" class="btn-add") Add New Item
    a(href="/" class="btn-home") Back to Home
